Flask
networkx
osmnx
scikit-learn
geopy
requests
# pyogrio, geopandas, pyproj, GDAL (binarios)
# Intentaremos instalar los paquetes que incluyen sus binarios:
fiona
gdal
pyproj
geopandas
scipy # Requerido por algunas dependencias espaciales

# Otras dependencias directas:
click
itsdangerous
Jinja2
MarkupSafe
Werkzeug